html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
}

a {
  text-decoration: none;
}

app {
  height: 100%;
  width: 100%;
}

#container {
  height: 100%;
  width: 700px;
  margin: 0 auto;
}
